.tableList {
  border-collapse: collapse;
  overflow-x: scroll;
  table-layout: auto;
  display: grid;
}
.theadList {
  background-color: #2abe8d;
  border: solid 1px lightblue;
}
.theadList th {
  /* min-width: 1200px;
  max-width: 1200px; */
  font-size: 16px;
  font-weight: 500;
  margin: auto;
  text-align: center;
  height: 45px;
  border: solid 1px #2abe8d;
  overflow: scroll;
  text-overflow: ellipsis;
}
/* .theadList, .tbodyList {
  display: block;
} */
.tbodyList {
  overflow-y: scroll;
  overflow-x: scroll;
  height: 100;
  border: solid 1px #2abe8d;
}
.tbody td {
  text-overflow: ellipsis;
  /* min-width: 1200px;
  max-width: 1200px; */
  font-size: 14px;
  margin: auto;
  text-align: center;
  height: 35px;
  border: solid 1px #2abe8d;
  overflow-y: scroll;
}
.container{
width:100%;
}